

header h1,
header h2 {
   color: #414141;
   font-size: 25px;
   font-weight: 600;
   margin: 0;
   text-transform: uppercase;
   letter-spacing: 4px;
   word-spacing: 10px;
}

header h2 {
   font-size: 30px;
}

header h4 {
   color: #4e4e4e;
   margin: 0;
   padding-top: 5px;
}